Repository Lukeus/app-shell: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, audit, license-check

eslint:
  name: ESLint
  entry: pnpm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm run format
  language: system
  pass_filenames: false

audit:
  name: Security Audit
  entry: pnpm audit --audit-level=moderate
  language: system
  pass_filenames: false

license-check:
  name: License Compliance Check
  entry: bash -c 'npx license-checker --onlyAllow "MIT;ISC;Apache-2.0;BSD-2-Clause;BSD-3-Clause;0BSD;Unlicense;CC0-1.0" --excludePrivatePackages || (echo "License compliance check failed. Run the command locally to see details." && exit 1)'
  language: system
  ...

fix: format pnpm-lock.yaml to pass CI formatting checks
  pnpm-lock.yaml
Due: prettier

fix: resolve CI build errors from case-sensitive filesystem issues
  webpack.renderer.config.js
Due: eslint, prettier

fix: format webpack renderer config file
  webpack.renderer.config.js
Due: eslint, prettier

Potential fix for code scanning alert no. 223: Variable not declared before use
  src/renderer/index.html
Due: none

chore: bump version to 1.0.7 [skip ci]
  package.json
Due: prettier, audit, license-check

feat: implement comprehensive prompt registry system
  src/main/ipc/prompt-registry-ipc.ts
  src/main/main.ts
  src/main/prompt-registry-service.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/ActivityBar.tsx
  src/renderer/components/PromptRegistryIntegration.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/prompts/PromptCard.tsx
  src/renderer/components/prompts/PromptExecutionDialog.tsx
  src/renderer/components/prompts/PromptSearchBar.tsx
  src/renderer/components/sidebar/PromptRegistryView.tsx
  src/schemas/index.ts
  src/schemas/prompt-registry-schemas.ts
  src/types/prompt-registry.ts
Due: eslint, prettier

fix: apply prettier formatting to prompt registry files
  src/main/ipc/prompt-registry-ipc.ts
  src/main/main.ts
  src/main/prompt-registry-service.ts
  src/preload/preload.ts
  src/renderer/components/PromptRegistryIntegration.tsx
  src/renderer/components/prompts/PromptCard.tsx
  src/renderer/components/prompts/PromptExecutionDialog.tsx
  src/renderer/components/prompts/PromptSearchBar.tsx
  src/renderer/components/sidebar/PromptRegistryView.tsx
  src/schemas/prompt-registry-schemas.ts
  src/types/prompt-registry.ts
Due: eslint, prettier

Potential fix for code scanning alert no. 224: Unused variable, import, function or class
  src/renderer/components/prompts/PromptExecutionDialog.tsx
Due: eslint, prettier

Potential fix for code scanning alert no. 225: Unused variable, import, function or class
  src/renderer/components/prompts/PromptSearchBar.tsx
Due: eslint, prettier

Potential fix for code scanning alert no. 226: Unused variable, import, function or class
  src/renderer/components/sidebar/PromptRegistryView.tsx
Due: eslint, prettier

fix: apply prettier formatting to prompt registry files
  src/renderer/components/prompts/PromptExecutionDialog.tsx
Due: eslint, prettier

chore: bump version to 1.0.8 [skip ci]
  package.json
Due: prettier, audit, license-check

fix: resolve undefined length error in PromptRegistryView
  src/renderer/components/sidebar/PromptRegistryView.tsx
Due: eslint, prettier

fix: resolve 'map is not a function' errors in state updates
  src/renderer/components/sidebar/PromptRegistryView.tsx
Due: eslint, prettier

fix: comprehensive array safety fixes for all prompt components
  src/renderer/components/prompts/PromptCard.tsx
  src/renderer/components/prompts/PromptExecutionDialog.tsx
  src/renderer/components/prompts/PromptSearchBar.tsx
Due: eslint, prettier

fix formatting errors
  src/renderer/components/prompts/PromptCard.tsx
Due: eslint, prettier

chore: bump version to 1.0.9 [skip ci]
  package.json
Due: prettier, audit, license-check

feat: add Spec Kit workspace storage
  src/common/spec-kit.ts
  src/main/ipc/capability-enforcer.ts
  src/main/ipc/schemas.ts
  src/main/ipc/spec-kit-ipc.ts
  src/main/lib/storage/spec-kit-storage.ts
  src/main/main.ts
  src/main/spec-kit-workspace-manager.ts
  src/preload/preload.ts
Due: eslint, prettier

feat: add spec kit pipeline definitions and runner
  scripts/spec-kit/pipeline.json
  scripts/spec-kit/pipeline.yaml
  src/renderer/context/AppContext.tsx
  src/renderer/features/spec-kit/usePipelineRunner.ts
Due: eslint, prettier

Add Spec Kit workspace navigation and command integrations
  src/main/ipc/capability-enforcer.ts
  src/main/ipc/schemas.ts
  src/main/ipc/speckit-ipc.ts
  src/main/main.ts
  src/main/spec-kit-manager.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/ActivityBar.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/SpecKitSidebar.tsx
  src/renderer/components/sidebar-manager.ts
  src/renderer/context/SpecKitContext.tsx
  src/renderer/context/ToastContext.tsx
  src/renderer/utils/date.ts
  src/types/index.ts
  src/types/spec-kit.ts
Due: eslint, prettier

feat: add workspace git pipelines and repository context
  src/main/ipc/capability-enforcer.ts
  src/main/ipc/schemas.ts
  src/main/ipc/workspace-ipc.ts
  src/main/lib/git/git-command-runner.ts
  src/main/lib/git/git-file-opener.ts
  src/main/lib/git/git-patch-service.ts
  src/main/lib/git/git-status-service.ts
  src/main/main.ts
  src/main/workspace-manager.ts
  src/preload/preload.ts
  src/schemas/index.ts
  src/types/index.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
  audit: any of: package\.json
  license-check: any of: package\.json
