Repository Lukeus/app-shell: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, audit, license-check

eslint:
  name: ESLint
  entry: pnpm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm run format
  language: system
  pass_filenames: false

audit:
  name: Security Audit
  entry: pnpm audit --audit-level=moderate
  language: system
  pass_filenames: false

license-check:
  name: License Compliance Check
  entry: bash -c 'npx license-checker --onlyAllow "MIT;ISC;Apache-2.0;BSD-2-Clause;BSD-3-Clause;0BSD;Unlicense;CC0-1.0" --excludePrivatePackages || (echo "License compliance check failed. Run the command locally to see details." && exit 1)'
  language: system
  ...

feat: implement theme management and improve terminal resizing logic
  .github/workflows/electron-release.yml
  README.md
  package.json
  src/main/extension-manager.ts
  src/main/web-terminal-manager.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/Terminal.tsx
  src/renderer/components/sidebar/SettingsView.tsx
Due: eslint, prettier, audit, license-check

feat: add theme change data interface and update theme change callback type
  src/main/web-terminal-manager.ts
  src/preload/preload.ts
Due: eslint, prettier

chore: bump version to 1.0.2 [skip ci]
  package.json
Due: prettier, audit, license-check

fix: update build commands to use pnpm exec for electron-builder
  .github/workflows/electron-release.yml
Due: prettier

chore: bump version to 1.0.3 [skip ci]
  package.json
Due: prettier, audit, license-check

Remove TerminalManager class and its associated methods for terminal management
  package.json
  pnpm-lock.yaml
  src/main/terminal-manager.ts
Due: eslint, prettier, audit, license-check

Implement feature X to enhance user experience and fix bug Y in module Z
  pnpm-lock.yaml
Due: prettier

chore: bump version to 1.0.4 [skip ci]
  package.json
Due: prettier, audit, license-check

feat: Refactor IPC handling and modularize IPC registrations for improved organization and security
  docs/EXTENSION_SECURITY.md
  docs/IMPLEMENTATION_STATUS.md
  docs/IPC_VALIDATION_PLAN.md
  examples/cyberpunk-theme-extension/CHANGELOG.md
  examples/cyberpunk-theme-extension/README.md
  examples/cyberpunk-theme-extension/build.bat
  examples/cyberpunk-theme-extension/build.sh
  examples/cyberpunk-theme-extension/package.json
  examples/cyberpunk-theme-extension/src/extension.js
  examples/cyberpunk-theme-extension/themes/cyberpunk-blade-runner.json
  examples/cyberpunk-theme-extension/themes/cyberpunk-matrix.json
  examples/cyberpunk-theme-extension/themes/cyberpunk-neon.json
  examples/cyberpunk-theme-extension/tsconfig.json
  screenshots/app-shell-dark-theme.png
  screenshots/app-shell-main.png
  src/main/extension-manager.ts
  src/main/ipc/app-control-ipc.ts
  src/main/ipc/capability-enforcer.ts
  src/main/ipc/command-ipc.ts
  src/main/ipc/extension-ipc.ts
  src/main/ipc/extension-signer.ts
  src/main/ipc/filesystem-ipc.ts
  src/main/ipc/marketplace-ipc.ts
  src/main/ipc/path-security.ts
  src/main/ipc/rate-limiter.ts
  src/main/ipc/schemas.ts
  src/main/ipc/settings-ipc.ts
  src/main/ipc/terminal-ipc.ts
  src/main/ipc/validators.ts
  src/main/lifecycle.ts
  src/main/main.ts
  src/main/managers/command-manager.ts
  src/main/marketplace-service.ts
  src/preload/preload.ts
  src/renderer/components/sidebar/ExtensionsView.tsx
  src/renderer/components/sidebar/SettingsView.tsx
  src/schemas/index.ts
Due: eslint, prettier, audit, license-check

refactor: Improve type safety and error handling across multiple modules
  .gitignore
  examples/cyberpunk-theme-extension/src/extension.js
  src/main/extension-manager.ts
  src/main/ipc/command-ipc.ts
  src/main/ipc/extension-signer.ts
  src/main/ipc/rate-limiter.ts
  src/main/ipc/settings-ipc.ts
  src/main/main.ts
  src/preload/preload.ts
Due: eslint, prettier

refactor: Enhance caching logic in getCachedPlugins to improve error handling and atomicity
  src/main/marketplace-service.ts
Due: eslint, prettier

refactor: Update createMockPluginData to read existing cache file and create it atomically if missing to avoid race condition
  src/main/marketplace-service.ts
Due: eslint, prettier

chore: bump version to 1.0.5 [skip ci]
  package.json
Due: prettier, audit, license-check

feat: Implement Source Control View with Git integration
  .github/copilot-instructions.md
  docs/TODOS.md
  docs/completed-todos.md
  docs/git-event-refresh-guide.md
  eslint.config.mjs
  examples/git-extension/EXAMPLE_USAGE.md
  examples/git-extension/INSTALLATION.md
  examples/git-extension/README.md
  examples/git-extension/build.bat
  examples/git-extension/build.sh
  examples/git-extension/package-lock.json
  examples/git-extension/package.json
  examples/git-extension/src/commands/git-commands.ts
  examples/git-extension/src/extension.ts
  examples/git-extension/src/services/file-decoration-provider.ts
  examples/git-extension/src/services/git-config-manager.ts
  examples/git-extension/src/services/git-config.ts
  examples/git-extension/src/services/git-service.ts
  examples/git-extension/src/services/source-control-provider.ts
  examples/git-extension/src/types.ts
  examples/git-extension/src/ui/CommitBox.tsx
  examples/git-extension/src/ui/FileStatusItem.tsx
  examples/git-extension/src/ui/RepositoryHeader.tsx
  examples/git-extension/src/ui/SourceControlView.tsx
  examples/git-extension/tsconfig.json
  src/main/ipc/marketplace-ipc.ts
  src/main/ipc/rate-limiter.ts
  src/main/ipc/validators.ts
  src/renderer/components/explorer/ContextMenu.tsx
  src/renderer/components/explorer/FileTreeItem.tsx
  src/renderer/components/sidebar/ExplorerView.tsx
Due: eslint, prettier, audit, license-check

feat: enhance Git extension with event handling and branch switching
  docs/EXTENSION_PACKAGING.md
  docs/TODOS.md
  docs/completed-todos.md
  docs/git-integration-summary.md
  eslint.config.mjs
  examples/cyberpunk-theme-extension/package-extension.js
  examples/cyberpunk-theme-extension/package.json
  examples/git-extension/package-extension.js
  examples/git-extension/package.json
  pnpm-lock.yaml
  src/main/extension-manager.ts
  src/main/main.ts
  src/preload/preload.ts
  src/renderer/components/explorer/FileTreeItem.tsx
  src/renderer/components/sidebar/ExplorerView.tsx
Due: eslint, prettier, audit, license-check

refactor: update imports to use type-only imports for better clarity and performance
  examples/git-extension/src/commands/git-commands.ts
  examples/git-extension/src/extension.ts
  examples/git-extension/src/services/file-decoration-provider.ts
  examples/git-extension/src/services/git-config-manager.ts
  examples/git-extension/src/services/git-config.ts
  examples/git-extension/src/services/git-service.ts
  examples/git-extension/src/services/source-control-provider.ts
  examples/git-extension/src/types.ts
  examples/git-extension/src/ui/RepositoryHeader.tsx
  examples/git-extension/src/ui/SourceControlView.tsx
Due: eslint, prettier

chore: bump version to 1.0.6 [skip ci]
  package.json
Due: prettier, audit, license-check

feat(explorer): add Monaco editor preview
  package.json
  src/renderer/components/sidebar/ExplorerView.tsx
  webpack.renderer.config.js
Due: eslint, prettier, audit, license-check

feat: integrate Monaco Editor with explorer
  package.json
  pnpm-lock.yaml
  src/renderer/components/MainContent.tsx
  src/renderer/components/editor/EditorContainer.tsx
  src/renderer/components/editor/EditorTabs.tsx
  src/renderer/components/editor/MonacoEditor.tsx
  src/renderer/components/sidebar/ExplorerView.tsx
  src/renderer/context/AppContext.tsx
  src/renderer/index.html
  src/renderer/utils/editor-error-handler.ts
  webpack.renderer.config.js
Due: eslint, prettier, audit, license-check

fix: resolve DOMPurify XSS vulnerability (CVE-2025-26791)
  package.json
  pnpm-lock.yaml
Due: prettier, audit, license-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
  audit: any of: package\.json
  license-check: any of: package\.json
