Repository Lukeus/app-shell: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, audit, license-check

eslint:
  name: ESLint
  entry: pnpm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm run format
  language: system
  pass_filenames: false

audit:
  name: Security Audit
  entry: pnpm audit --audit-level=moderate
  language: system
  pass_filenames: false

license-check:
  name: License Compliance Check
  entry: bash -c 'npx license-checker --onlyAllow "MIT;ISC;Apache-2.0;BSD-2-Clause;BSD-3-Clause;0BSD;Unlicense;CC0-1.0" --excludePrivatePackages || (echo "License compliance check failed. Run the command locally to see details." && exit 1)'
  language: system
  ...

fix: Resolve CI pipeline issues
  package.json
  pnpm-workspace.yaml
Due: prettier, audit, license-check

fix: Regenerate pnpm-lock.yaml for non-workspace configuration
  pnpm-lock.yaml
Due: prettier

fix(ci): update pnpm version to latest to match lockfile format
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier

fix(config): resolve ESLint and postinstall script issues
  eslint.config.mjs
  package.json
  scripts/postinstall.js
Due: eslint, prettier, audit, license-check

fix(security): resolve TruffleHog BASE/HEAD commit issue
  .github/workflows/security.yml
Due: prettier

fix(eslint): add Node.js configuration for JavaScript files
  eslint.config.mjs
Due: none

fix(format): apply prettier formatting to lockfile and postinstall script
  pnpm-lock.yaml
  scripts/postinstall.js
Due: eslint, prettier

feat(ci): comprehensive Electron and E2E testing fixes
  .github/workflows/ci.yml
  scripts/postinstall.js
Due: eslint, prettier

fix(ci): resolve cross-platform shell syntax and formatting
  .github/workflows/ci.yml
  scripts/postinstall.js
Due: eslint, prettier

feat(ci): finalize robust CI/CD pipeline with professional approach
  .github/workflows/ci.yml
  README.md
Due: prettier

fix: Update repository badges and fix CI Linux dependencies
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier, audit, license-check

fix: Cross-platform shell compatibility in release workflow
  .github/workflows/ci.yml
Due: prettier

feat: Add comprehensive security badges and VS Code development setup
  README.md
  WARP_FORMATTING_RULES.md
  package.json
Due: prettier, audit, license-check

fix: apply prettier formatting to new files
  README.md
  WARP_FORMATTING_RULES.md
Due: prettier

fix: Apply prettier formatting to resolve CI formatting failures
  .github/workflows/ci.yml
  README.md
  WARP_FORMATTING_RULES.md
Due: prettier

fix: Handle missing git tags in CI release workflow
  .github/workflows/ci.yml
Due: prettier

feat: Complete release system redesign and cleanup
  .github/workflows/ci.yml
  .github/workflows/electron-release.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  LICENSE
  README.md
Due: prettier

hotfix: Remove non-existent type-check script from CI workflow
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
  audit: any of: package\.json
  license-check: any of: package\.json
