Repository Lukeus/app-shell: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, audit, license-check

.pre-commit-config.yaml:

repos:
  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            pnpm-lock\.yaml|
            package-lock\.json|
            yarn\.lock
          )$

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: pnpm run format
        language: system
        files: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
        pass_filenames: false

      # Security audit
      - id: audit
        name: Security Audit
        entry: pnpm audit --audit-level=moderate
        language: system
        pass_filenames: false
        files: package\.json

      # License check
      - id: license-check
        name: License Compliance Check
        entry: bash -c 'npx license-checker --onlyAllow "MIT;ISC;Apache-2.0;BSD-2-Clause;BSD-3-Clause;0BSD;Unlicense;CC0-1.0" --excludePrivatePackages || (echo "License compliance check failed. Run the command locally to see details." && exit 1)'
        language: system
        pass_filenames: false
        files: package\.json

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  # Commit message formatting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [optional-scope]

  # File permissions
  - repo: local
    hooks:
      - id: check-file-permissions
        name: Check dangerous file permissions
        entry: bash -c 'find . -type f -perm -002 -not -path "./.git/*" -not -path "./node_modules/*" | grep -v "^$" && echo "World-writable files found" && exit 1 || exit 0'
        language: system
        pass_filenames: false

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Temporarily disable Playwright tests in CI
  .github/workflows/ci.yml
  scripts/postinstall.js
Due: eslint, prettier

Fix lint error and formatting issues
  .github/workflows/ci.yml
  scripts/postinstall.js
Due: eslint, prettier

feat: Add VS Code-like file explorer with cross-platform keyboard shortcuts
  COMMAND_PALETTE.md
  src/main/file-system-manager.ts
  src/main/main.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/CommandPalette.tsx
  src/renderer/components/StatusBar.tsx
  src/renderer/components/command-palette.ts
  src/renderer/components/explorer/ContextMenu.tsx
  src/renderer/components/explorer/FileTreeItem.tsx
  src/renderer/components/sidebar/ExplorerView.tsx
  src/renderer/hooks/useCommandPalette.ts
  src/renderer/styles/file-explorer.css
  src/renderer/styles/globals.css
  src/renderer/utils/file-icons.ts
  src/renderer/utils/platform.ts
Due: eslint, prettier

fix: Improve TypeScript type safety by replacing any with unknown
  src/main/ipc-manager.ts
  src/preload/preload.ts
  src/types/command.ts
  src/types/index.ts
Due: eslint, prettier

feat: Add VS Code-like file explorer with cross-platform keyboard shortcuts
  COMMAND_PALETTE.md
  src/main/file-system-manager.ts
  src/main/main.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/CommandPalette.tsx
  src/renderer/components/StatusBar.tsx
  src/renderer/components/command-palette.ts
  src/renderer/components/explorer/ContextMenu.tsx
  src/renderer/components/explorer/FileTreeItem.tsx
  src/renderer/components/sidebar/ExplorerView.tsx
  src/renderer/hooks/useCommandPalette.ts
  src/renderer/styles/file-explorer.css
  src/renderer/styles/globals.css
  src/renderer/utils/file-icons.ts
  src/renderer/utils/platform.ts
  src/types/command.ts
  src/types/index.ts
Due: eslint, prettier

feat: Add VS Code-like file explorer with cross-platform keyboard shortcuts
  COMMAND_PALETTE.md
  src/main/file-system-manager.ts
  src/main/main.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/CommandPalette.tsx
  src/renderer/components/StatusBar.tsx
  src/renderer/components/command-palette.ts
  src/renderer/components/explorer/ContextMenu.tsx
  src/renderer/components/explorer/FileTreeItem.tsx
  src/renderer/components/sidebar-manager.ts
  src/renderer/components/sidebar/ExplorerView.tsx
  src/renderer/components/sidebar/SettingsView.tsx
  src/renderer/hooks/useCommandPalette.ts
  src/renderer/styles/file-explorer.css
  src/renderer/styles/globals.css
  src/renderer/utils/file-icons.ts
  src/renderer/utils/platform.ts
  src/types/command.ts
  src/types/index.ts
Due: eslint, prettier

ci: add version check to CI workflow
  .github/workflows/ci.yml
Due: prettier

ci: fix formatting issues
  EXTENSION_DEVELOPMENT.md
  README.md
  eslint.config.mjs
  examples/hello-world-extension/README.md
  examples/hello-world-extension/extension.js
  examples/hello-world-extension/package.json
  examples/hello-world-extension/src/extension.ts
  examples/hello-world-extension/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/main/extension-manager.ts
  src/main/ipc-manager.ts
  src/main/logger.ts
  src/main/main.ts
  src/main/managers/command-manager.ts
  src/main/marketplace-service.ts
  src/main/mock-terminal-manager.ts
  src/main/settings-manager.ts
  src/main/terminal-manager.ts
  src/main/web-terminal-manager.ts
  src/main/window-manager.ts
  src/preload/preload.ts
  src/renderer/components/CommandPalette.tsx
  src/renderer/components/marketplace.ts
  src/renderer/components/sidebar/ExplorerView.tsx
  src/renderer/hooks/useCommandPalette.ts
  src/schemas/index.ts
  src/types/index.js
  src/types/index.ts
Due: eslint, prettier, audit, license-check

ci: fix artifact paths in build job
  .github/workflows/ci.yml
Due: prettier

chore: fix README action badges and harden file-icons utils
  README.md
Due: prettier

chore: harden file-icons utils
  src/renderer/utils/file-icons.ts
Due: eslint, prettier

feat: enhance file icon utility and add date formatting function
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/renderer/utils/file-icons.ts
Due: eslint, prettier, audit, license-check

docs: update README with quick downloads and features overview
  README.md
Due: prettier

Update README.md
  README.md
Due: prettier

chore: enable auto-release and improve versioning process in workflow
  .github/workflows/electron-release.yml
Due: prettier

fix: remove unnecessary blank lines in release workflow
  .github/workflows/electron-release.yml
Due: prettier

fix: enhance release workflow to handle manual and auto-release inputs
  .github/workflows/electron-release.yml
Due: prettier

fix: remove unnecessary blank lines in release workflow script
  .github/workflows/electron-release.yml
Due: prettier

chore: bump version to 1.0.1 [skip ci]
  package.json
Due: prettier, audit, license-check

fix: update packaging steps to build without publishing for all platforms
  .github/workflows/electron-release.yml
Due: prettier
